DATABASE_URL = your_database_url_here

MYSQL_HOST=your_mysql_host_here
MYSQL_USER=your_mysql_user_here
MYSQL_PASSWORD=your_mysql_password_here
MYSQL_DATABASE=your_mysql_database_here
# Example:
# DATABASE_URL="mysql://root:password@localhost:3306/Enginex"
# MYSQL_HOST=localhost
# MYSQL_USER=root
# MYSQL_PASSWORD=password
# MYSQL_DATABASE=Enginex